Host github.com
	HostName github.com
	PreferredAuthentications publickey
	IdentityFile ~/.ssh/id_rsa

Host mobile
	HostName 192.168.8.225
	User mobile
	IdentityFile ~/.ssh/id_rsa

Host homemac
	HostName 115.171.202.64
	User YoungShook
	Port 7722
	IdentityFile ~/.ssh/id_rsa

Host google-ys
	HostName  youngshook.com
	User shook.young
	IdentityFile ~/.ssh/id_rsa_google

Host google-hk
	HostName  35.241.81.226
	User shook.young
	IdentityFile ~/.ssh/id_rsa_google